<div class="my-6 px-8 py-6 bg-{{alertColor}} rounded-tl-md rounded-br-md">
    <h3 class="text-{{alertColor}}-softcontrast">{{title}}</h3>
    <p class="text-{{alertColor}}-softcontrast">{{alertText}}</p>
</div>