{% set bg = get_color_by_slug(backgroundColor) %}

<{{ url ? "a href='" ~ url ~ "'" : "div"}} style="background: {{bg.color}}{{transparent ? "aa"}}"
class="card {{bg.brightness}} image-{{imagePosition}} items-{{textAlign}} text-{{textAlign}} {{ isFirst ? "first "}} {{ isLast ? "last"}} {{transparent ? " bg-blur"}} {{hover ? "hover"}}">

    {% if image.url %}
        {% if image.subtype == 'svg+xml' %}
            <div class="svg-container" style="height: {{imageWidth}}%; width: {{imageWidth}}%;" >
                {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
            </div>
        {% else %}
                <img class="card-image" src="{{image.sizes.medium.url}}">
        {% endif %}
    {% endif %}
    <span></span>
    <div class="card-content">{{content|raw}}</div>

{{ url ? "</a>" : "</div>"}}