<li class="description-item">
{% if icon %}<i class="material-icons">{{icon}}{% else %}
    {% if image.subtype == 'svg+xml' %}
        <figure>
        {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
        </figure>
    {% else %}
        <img src="{{image.sizes.thumbnail.url}}">
    {% endif %}
{% endif %}
    <div class="">
        <b>{{title}}</b>
        <div>{{text}}</div>
    </div>
</li>


