
<div class="posts gap-12 grid grid-cols-{{columnsSmall}} md:grid-cols-{{columnsMedium}} lg:grid-cols-{{columnsLarge}}">
    {% for item in posts %}
            
            <a 
                class="
                overflow-hidden
                {% if dropShadow %}hover {% endif %}
                {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                card items-center bg-white
                {{ style == "list" ? "flex-row" : "flex-col" }}
                {{loop.first ? "rounded-tl-3xl"}}
                {{loop.last ? "rounded-br-3xl"}}
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showImages %}
                <img width="{{imageSize}}%" class="{{roundImages ? "rounded-full" : "object-cover h-64 w-full" }}" src="{{roundImages ? item.thumbnail.src('qlarge') : item.thumbnail.src('qlarge') }}" />
                {% if showDate and style == "cards" %}
                    <div class="text-primary-contrast absolute bg-primary rounded-full h-12 w-12 right-4 top-4">
                        <span class="block font-bold text-lg text-gray text-center -mb-2">{{item.post_date|date("j")}}</span>
                        <span class="block text-sm text-gray text-center">{{item.post_date|date("M")}}</span>
                    </div>
                {% endif %}
            {% endif %}
            
                <div class="flex flex-grow relative pb-8 px-8 flex-col  w-full">
                    <span class="absolute rounded-tl-md rounded-br-md -mt-4 -ml-2 px-2 bg-primary text-primary-contrast">
                        {{item.category}}
                    </span>
                    <span class="block font-bold text-primary pt-8 inline-block">{{item.post_title}}</span>
                    {% if showDate and style == "list" %}<span class="block text-gray">{{item.post_date|date("j. M. Y")}}</span>{% endif %}
                    <p class="pt-2 text-black">
                        {{item.post_excerpt|excerpt(excerptLength)}}
                    </p>
                    <span class="mt-auto text-xs pt-2 text-gray-500">
                        {{item.tags|first}} | {{item.post_date|date("j. M. Y")}}
                    </span>
                    
                </div>
            </a>
        
    {% endfor %}
</div>
