
<div class="card-collection posts">
    {% for item in posts %}
            <a 
                class="
                {% if dropShadow %}hover {% endif %}
                {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                card bg-white
                {{ style == "list" ? "image-left" : "image-top" }}
                {{loop.first ? "first"}}
                {{loop.last ? "last"}}
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showImages %}
                <img class="card-image"  src="{{ item.thumbnail.src('large') }}" />
                {% if showDate and style == "cards" %}
                    <div class="text-primary-contrast bg-primary card-badge">
                        <div class="font-bold text-lg text-gray -mb-2">{{item.post_date|date("j")}}</div>
                        <div class="description">{{item.post_date|date("M")}}</div>
                    </div>
                {% endif %}
            {% endif %}
            
                <div class="card-content">
                    <span class="card-label bg-primary text-primary-contrast">
                        {{item.category}}
                    </span>
                    <h4 class="card-title text-primary">{{item.post_title}}</h4>
                    {% if showDate and style == "list" %}<div class="text-gray">{{item.post_date|date("j. M. Y")}}</div>{% endif %}
                    <p class="card-text text-black">
                        {{item.post_excerpt|excerpt(excerptLength)}}
                    </p>
                    <span class="card-footer">
                        <span class="description">{{item.tags|first}} | {{item.post_date|date("j. M. Y")}}</span>
                    </span>
                </div>
            </a>
        
    {% endfor %}
</div>
