
<div class="posts gap-12 grid grid-cols-{{columnsSmall}} md:grid-cols-{{columnsMedium}} lg:grid-cols-{{columnsLarge}}">
    {% for item in posts %}
            
            <a 
                class="
                overflow-hidden
                {% if showDate %}hover:shadow-2xl {% endif %}
                {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                block flex flex-col bg-white items-center 
                {{ style == "list" ? "flex-row" : "flex-col" }}
                {{loop.first ? "rounded-tl-lg"}}
                {{loop.last ? "rounded-br-lg"}}
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showImages %}
                <img width="{{imageSize}}%" class="{{roundImages ? "rounded-full" : "object-cover h-64 w-full" }}" src="{{roundImages ? item.thumbnail.src('qlarge') : item.thumbnail.src('qlarge') }}">
            {% endif %}
                <div class="flex flex-grow flex-col p-8 w-full">
                    <span class="block font-bold text-primary inline-block">{{item.post_title}}</span>
                    {% if showDate %}<span class="block text-gray">{{item.post_date|date("j. M. Y")}}</span>{% endif %}
                    <p class="text-black">
                        {{item.post_excerpt|excerpt(excerptLength)}}
                    </p>
                    <span class="btn block text-right mt-auto">Weiterlesen</span>
                </div>
            </a>
        
    {% endfor %}
</div>
