<footer class="bg-darkgray py-20">
    <div class="max-w-screen-xl mx-auto ">
        <div class=" text-white grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">{{footer}}</div>
    </div>
    <script>
        var lang = "{{site.language}}";
        var theme_uri = "{{site.theme.uri}}";
    </script>
    {{function('wp_footer')}}
    
    
</footer>
<div class="text-gray bg-darkgray-darker">
    <div class="max-w-screen-xl mx-auto py-2">
        <div class="flex flex-row">
            <div class="imprint-logo"><img class="fill-gray" src="{{ site.theme.uri }}/assets/img/logo.svg" width="24" height="24"></div>
            <div><span>Copyright: kids-team</span></div>
            <div class="place-self-end"><a href="/impressum">Impressum</a></div>
            <div class="place-self-end"><a href="/datenschutzerklärung">Datenschutzerklärung</a></div>
        </div>
    </div>
</div>