<footer class="bg-gray-700 py-20">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8 xl:px-0">
        <div class=" text-gray-400 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">{{footer}}</div>
    </div>
    <script>
        var lang = "{{site.language}}";
        var theme_uri = "{{site.theme.uri}}";
    </script>
    {{function('wp_footer')}}
    
    
</footer>
<div class="text-gray-600 bg-white">
    <div class="mx-auto py-2">
        <div class="flex flex-row justify-end items-center"> 
            <div class="text-xs mr-2 hidden md:block">{{ __("This website is protected by reCaptcha. See the", "ctx-theme") }} <a href="https://policies.google.com/privacy">{{ __("Privacy Policy", "ctx-theme") }}</a> {{ __("aswell as the", "ctx-theme") }} <a href="https://policies.google.com/terms">{{ __("Terms of Service", "ctx-theme") }}</a>.</div>
            <div class="text-xs mr-2 hidden md:block"><span>© kids-team</span></div>
            <div class="text-xs mr-2"><a href="/impressum">{{ __("Imprint", "ctx-theme") }}</a></div>
            <div class="text-xs mr-2"><a href="/datenschutzerklaerung">{{ __("Data protection", "ctx-theme") }}</a></div>
            <div class="">{% include "icons/" ~ fields.logo ~ ".twig" with {'size': 20, 'fill': 'fill-primary'} %}</div>
        </div>
    </div>
</div>
