<footer class="footer">
    <div class="content content grid md:grid--columns-2 xl:grid--columns-3">
            {{footer}}
    </div>
    <script>
        var lang = "{{site.language}}";
        var theme_uri = "{{site.theme.uri}}";
    </script>
    {{function('wp_footer')}}
	{% if not privacy_consent %}
    <div class="modal modal--open" id="consentDialog">
		<div class="modal__dialog">
			<div class="modal__header">
				<div class="modal__title">
					<h2>{{ __("Privacy consent", "ctx-theme") }}</h2>
				</div>
			</div>
			<div class="modal__content">
			{{ site.option("privacy_window_text") }}
			</div>
			<div class="modal__footer">
				<div class="button-group button-group--right">
				<a href="{{ function('get_privacy_policy_url') }}" class="button button--primary button--link">{{ __("Data Privacy", "ctx-theme") }}</a>
				<button id="consentPrivacy" class="button button--primary">{{ __("Consent", "ctx-theme") }}</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</footer>
<div class="bottom">
    
        <div class="bottom__text"> 
            <div class="text-xs mr-2 hidden md:block">{{ __("This website is protected by reCaptcha. See the", "ctx-theme") }} <a href="https://policies.google.com/privacy">{{ __("Privacy Policy", "ctx-theme") }}</a> {{ __("aswell as the", "ctx-theme") }} <a href="https://policies.google.com/terms">{{ __("Terms of Service", "ctx-theme") }}</a>.</div>
            <div class="text-xs mr-2 hidden md:block"><span>© kids-team</span></div>
            <div class="text-xs mr-2"><a href="/impressum">{{ __("Imprint", "ctx-theme") }}</a></div>
            <div class="text-xs mr-2"><a href="/datenschutzerklaerung">{{ __("Data protection", "ctx-theme") }}</a></div>
            <div class="bottom__logo"><figure>{{ source(logo(), ignore_missing = true) }}</figure></div>
        </div>
    
</div>
