<header class="header" style="padding-top: {{post.header.height ?: 30}}vh; ">  
    {% if post.thumbnail.src('xlarge') %}
        <img style="{{post.flippageimage ? 'transform: scaleX(-1);'}}" src="{{post.thumbnail.src('xlarge')}}" alt="{{post.thumbnail.post_excerpt ?: post.thumbnail.post_title }}">
    {% endif %} 
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs()} %}
    <div class="content">
        <div class="header__title" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            
            <h1 class="font-script">{{post.title}}</h1>
            <h4 class="ml-4 xl:mr-0">{{post.header.subtitle}}</h4>
            {%if post.header.link.url %}<a href="{{ post.header.link.url }}" class="button secondary large skew">{{ post.header.link.title }}</a>{% endif %}
            {%if link %}<a href="{{ link }}" class="button secondary large skew">{{ linkText }}</a>{% endif %}
        </div>
    </div>
</header>

{% for item in items %}
    dsfsdf
{% endfor %}