<header class="bg-cover bg-primary-light relative" style="padding-top: {{post.headerheight ? post.headerheight : 20}}vh; background-position: {{post.headerimageorientation ? post.headerimageorientation : 'center'}}; {% if headerimage %}background-image: url('{{ post.thumbnail.src('xlarge') }}'){% endif %}">
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
    <div class="max-w-screen-xl mx-auto">
        <div class="relative inline-block bg-primary-transparent bg-opacity-75 bg-blur  rounded-tr-lg text-white text-right" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            
            <div class="text-3xl ml-4 md:ml-8 lg:text-5xl xl:mr-0 font-script">{{post.title}}</div>
            <span class="xl:mr-0">{{post.subtitle}}</span>
            {%if post.headerurl %}<a target="{{post.headerurl.target}}" href="{{ post.headerurl.url }}" class="absolute right-0 rounded-tl-md rounded-br-md mr-8 top-0 -mt-4 px-4 py-2 text-xl bg-primary-dark ctx-icon ctx-icon-arrow-forward">{{ post.headerurl.title }}</a>{% endif %}
        </div>
    </div>
</header>