{% if menu %}
	<div @click.away="open = false" class="relative" x-data="{ open: false }">
		<a @click="open = !open" :class="{'bg-gray-200': open}" class="{% if (item.current or item.current_item_ancestor) %} bg-gray-200 text-gray-600 hover:bg-gray-300 hover:text-gray-700 {% else %} hover:bg-primary hover:{{primarycolor.brightness}}{% endif %} xl:text-lg active:outline-none flex flex-row items-center w-full px-4 py-1 font-semibold text-left rounded-tl md:rounded-br md:w-auto md:inline-block md:mt-0 md:ml-4 cursor-pointer">
			<span>{{item.title}}</span>
			<svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="m 5,7 5,5 5,-5 z" clip-rule="evenodd"></path></svg>
		</a>
		<div style="display: none" x-show="open" 
				x-transition:enter="transition ease-out duration-100" 
				x-transition:enter-start="transform opacity-0 scale-95" 
				x-transition:enter-end="transform opacity-100 scale-100" 
				x-transition:leave="transition ease-in duration-75" 
				x-transition:leave-start="transform opacity-100 scale-100" 
				x-transition:leave-end="transform opacity-0 scale-95" 
				class="md:absolute md:right-0 w-full md:mt-2 origin-top-right rounded-md md:w-auto whitespace-nowrap md:shadow-lg z-30">
			<div class="bg-gray-100 md:bg-white md:rounded-tl rounded-br">
				{% for child in item.children %}
				<a href="{{child.get_link}}" class="
					{% if (child.current or child.current_item_ancestor) %} bg-gray-200 text-gray-600 hover:bg-gray-300 hover:text-gray-700 
					{% else %} hover:bg-primary hover:{{primarycolor.brightness}}{% endif %}
					{{ loop.first ? "rounded-tl "}}
					{{ loop.last ? "rounded-br "}}
					text-lg md:text-base block px-4 py-2 font-semibold bg-transparent md:mt-0" href="#">{{child.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}