<div class="ctx-post-items">
{% for item in latest_posts %}
    <a class="uk-link-reset ctx-post-item uk-margin-bottom uk-flex uk-flex-middle {% for term in item.get_terms() %}{{term.slug}} {% endfor %}" href="/aktuell/{{item.post_name}}">
        <div class="uk-margin-right">
            <img src="{{ item.thumbnail.src('qsmall') }}" width="100px" class="uk-border-circle">
        </div>
    
        <div>
            <h5 class="uk-text-bold uk-margin-remove">{{item.title}}</h5>
            {% if item.post_excerpt is not empty %}
    ...         <span>{{item.post_excerpt}}</span><br/>
            {% endif %}
            <span class="uk-text-muted">{{item.post_date|date("j. F Y")}}</span>
            
            
        </div>
</a>
{% endfor %}
</div>