
    {% for item in events %}
        <a class="mb-8 grid grid-cols-3 gap-4 {% for term in item.get_terms() %}{{term.slug}} {% endfor %}" href="{{item.link}}">
            <div class="">
                <img src="{{ item.thumbnail.src('qmedium') }}" class="rounded-tl-xl rounded-br-xl">
            </div>
    
            <div class="col-span-2">
                <h5 class="font-bold text-bold">{{item.title}}</h5>
                <div class="text-gray-500">
                {% if item._event_start_date == item._event_end_date %}
                                {{ item._event_start_date|date("j. F Y") }} 
                            {% else %}
                                {% if item._event_start_date|date("F") == item._event_end_date|date("F") %}
                                    {{ item._event_start_date|date("j.") }} bis {{ item._event_end|date("j. F Y") }}
                                {% else %}
                                    {{ item._event_start_date|date("j. D.") }} bis {{ item._event_end|date("j. F Y") }}
                                {% endif %}
                            {% endif %}
                </div>
                {% if item.post_excerpt is not empty %}
                    <span>{{item.post_excerpt|excerpt(10, "...")}}</span><br/>
                {% endif %}
                                
            </div>
    </a>
    {% endfor %}
