

{% extends "master.twig" %}

{% block content %}
    <header class="bg-cover bg-primary-light relative" style="padding-top: {{error_page.headerheight ? error_page.headerheight : 20}}vh; background-position: {{error_page.headerimageorientation ? error_page.headerimageorientation : 'center'}}; background-image: url('{{ error_page.thumbnail.src('xlarge') }}')">
    {% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
    <div class="max-w-screen-xl mx-auto">
        <div class="relative inline-block bg-primary-transparent bg-opacity-75 bg-blur  rounded-tr-lg text-white text-right" style="margin-left: -2000px; padding: 50px 50px 50px 2000px;">
            
            <div class="text-3xl ml-4 md:ml-8 lg:text-5xl xl:mr-0 font-script">{{ error_page.title ? error_page.title : "Fehler 404" }}</div>
            <span class="xl:mr-0">{{ error_page.subtitle ? error_page.subtitle : "Seite nicht gefunden" }}</span>
            <a href="/" class="absolute right-0 rounded-tl-md rounded-br-md mr-8 top-0 -mt-4 px-4 py-2 text-xl bg-primary-dark ctx-icon ctx-icon-arrow-forward">Zurück zur Homepage</a>
        </div>
    </div>
</header>
    <article>
        <section class="pt-20 pb-20 bg-default text-default-contrast text-left">
            <div class="max-w-screen-xl mx-4 md:mx-8 lg:mx-8 xl:px-8 xl:mx-auto">
                {% if error_page.content %}
                    {{ error_page.content }}
                {% else %}
                    <p>Die Seite, die du suchst, existiert leider nicht</p>
                {% endif %}
            </div>
        </section>
    </article>
{% endblock %}