{% extends "master.twig" %}

{% block content %}
{% include "partials/header.twig" with {'post': post, 'headerimage': true} %}  
    
        <article>
            <div class="">
                <div class="grid-cols">
                    {% for child in posts %}
                        <div>
                        <a class="" href="{{child.link}}">
                            <div class="">
                                <img src="{{ Image(child._thumbnail_id).src}}">
                            </div>
                            <div class="">
                                <h3 class="">{{child.post_title}}</h3>
                                <span class="">{{child.post_date|date("j. F Y")}}</span>
                                <p>{{child.post_excerpt|excerpt(10, "...")}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
    </div>
    </div>
    
{% endblock %}