{% extends "master.twig" %}

{% block content %}
{% include "partials/header.twig" with {'post': post, 'headerimage': true, 'link': '#booking', "linkText": "Anmelden"} %}    
    
<article class="bg-gray-100">
    <div class="content grid grid--columns-1 xl:grid--columns-3 grid--gap-12 py-16">
        <div class="xl:grid__column--span-2">        
            {% if post.post_excerpt %}<div class="pb-16">{{post.post_excerpt}}</div><hr>{% endif %}
            <div class="pb-16 border-b-4 border-gray-400 border-dotted">{{ post.content }}</div>
            {% if has_tickets %}
                <hr>
                {{ booking }}
            {% endif %}   
        </div> 
        <aside>
           <div class="description p-8 bg-gray-200 rounded-xl">
                <!-- AUDIENCE -->
                {% if post.event_audience %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">face</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Audience", "ctx-theme")}}</div>
                        <div class="description__data">{{post.event_audience}}</div>
                    </div>
                </div> 
                {% endif %}
                <!-- End AUDIENCE -->
                <!-- DATE -->
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">event</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Date", "ctx-theme")}}</div>
                        <div class="description__data">
                        
                            {% if post._event_start_date == post._event_end_date %}
                            {{ post._event_start_date|date("j. F Y") }} 
                            {% else %}
                                {% if post._event_start_date|date("F") == post._event_end_date|date("F") %}
                                    {{ post._event_start_date|date("j.") }} {{ __("to", "ctx-theme") }} {{ post._event_end|date("j. F Y") }}
                                {% else %}
                                    {{ post._event_start_date|date("j. F") }} {{ __("to", "ctx-theme") }} {{ post._event_end|date("j. F Y") }}
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>                        
                </div>
                <!-- End DATE -->
                <!-- TIME will only be shown, if the event is NOT an all-day event -->
                {% if event.event_all_day != 1 %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">schedule</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Time", "ctx-theme")}}</div>
                        <div class="description__data">
                            {% if post._event_start_date == post._event_end_date %}
                            {{ __("from", "ctx-theme") }} {{ post._event_start_time|date(site.option("dbem_time_format"), false) }} {{ __("to", "ctx-theme") }} {{ post._event_end_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}
                            {% else %}
                                {{ __("Starts at", "ctx-theme") }} {{ post._event_start_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}<br>{{ __("Ends at", "ctx-theme") }} {{ post._event_end_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- End TIME -->
                <!-- LOCATION -->
                {% if location %}
                <div class="description__item">  
                    <div class="description__image">
                        <i class="description__icon material-icons">place</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Location", "ctx-theme")}}</div>
                        <address class="description__data">{{location.location_name}}<br>{{location.address}}<br>{{location.postcode}} {{location.town}}</address>
                    </div>
                    
                    {% if location.url %}
                    <div class="description__action">
                        <a target="_blank" href="{{location.url}}"><i class="material-icons">navigation</i></a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <!-- End LOCATION -->
                <!-- SPACE WARNING -->
                {% if bookings and bookings < 5 and bookings > 0 %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">warning</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Caution", "ctx-theme")}}</div>
                        <div class="description__data">{{ __("Only few spaces left", "ctx-theme") }}</div>
                    </div>
                </div>
                {% endif %}
                {% if bookings and not bookings %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">warning</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Caution", "ctx-theme")}}</div>
                        <div class="description__data">{{ __("No spaces left", "ctx-theme") }}</div>
                    </div>
                </div>
                {% endif %}
                <!-- End SPACE WARNING -->
                <!-- PRICE -->
                {% if bookings and price == 0 %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">savings</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Price", "ctx-theme")}}</div>
                        <div class="description__data"> {{ __("Free", "ctx-theme")}} </div>
                    </div>
                </div>
                {% elseif bookings and price != 0 %}
                <div class="description__item">
                    <div class="description__image">
                        <i class="description__icon material-icons">payments</i>
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Price", "ctx-theme")}}</div>
                        <div class="description__data"> {{price}} {{currency}} </div>
                    </div>
                </div>
                {% endif %}
                <!-- End PRICE -->
                <!-- SPEAKER -->
                {% if speaker %}
                <div class="description__item">  
                    <div class="description__image">
                        <img src="{{speaker.thumbnail.src}}">
                    </div>
                    <div class="description__text">
                        <div class="description__title">{{ __("Speaker", "ctx-theme")}}</div>
                        <div class="description__data">{{speaker.post_title}}</div>
                    </div>

                    {% if speaker.email %}
                    <div class="description__action">
                        <a target="_blank" href="mailto:{{speaker.email}}"><i class="material-icons">mail</i></a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <!-- End SPEAKER -->
                  
            </div>
            {% if events %}
            <div class="mt-20">
                <h3 class="mb-6 text-bold core-block">{{ __("Similar events", "ctx-theme")}}</h3>
                {% include "partials/similar-events.twig" with {'events': events} %}
            </div>
            {% endif %}
            
        </aside>
    </div>
</article>
{% endblock %}
