{% extends "master.twig" %}

{% block content %}
{% include "partials/header.twig" with {'post': post, 'headerimage': true} %}    
    
    <article class="bg-default px-4 md:px-8 lg:px-0  py-8 ">
        <div class="max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-3 lg:my-20 md:gap-10">

            <div class="col-span-2 ">
                
                <div class="py-8 border-b-4 border-gray border-dotted">{{post.post_excerpt}}</div>
                <div class="py-8 border-b-4 border-gray border-dotted">{{post.post_content}}</div>
                
                {% if bookings > 0 %}
                    <div x-data="" class="my-10"><a @click="$dispatch('booking-modal')" class="rounded-tl rounded-br px-6 py-3 bg-primary text-primary-contrast button" href="#">Zur Anmeldung</a></div>  
                {{ booking }}
                            
                {% endif %}
                
            </div>
            <div class="order-first lg:order-last ">
                <div class="bg-lightgray p-10 rounded-tl-md rounded-br-md">
                    <div class="py-2 flex flex-row items-center">
                        <img src="{{ site.theme.uri }}/assets/img/icons/boy.svg" width="24" class="mr-3">
                        <span class="">{{post.get_terms('audience')|first}}</span>
                    </div>
                    <div class="py-2  flex flex-row items-center">
                        <img src="{{ site.theme.uri }}/assets/img/icons/calendar.svg" width="24" class="mr-3">
                        <span class="">
                            {% if post._event_start_date == post._event_end_date %}
                                {{ post._event_start_date|date("j. F Y") }} 
                            {% else %}
                                {% if post._event_start_date|date("F") == post._event_end_date|date("F") %}
                                    {{ post._event_start_date|date("j.") }} bis {{ post._event_end|date("j. F Y") }}
                                {% else %}
                                    {{ post._event_start_date|date("j. F") }} bis {{ post._event_end|date("j. F Y") }}
                                {% endif %}
                            {% endif %}
                        </span>
                        
                    </div>
                    {% if event.event_all_day != 1 %}
                    <div class="py-2 flex flex-row items-center">
                        <img src="{{ site.theme.uri }}/assets/img/icons/time.svg" width="24" class="mr-3">
                        <span class="ctx-icon ctx-icon-time">
                            {% if post._event_start_date == post._event_end_date %}
                                Von {{ post._event_start_time|date("G:i") }} Bis {{ post._event_end_time|date("G:i") }} Uhr
                             {% else %}
                                Beginn um {{ post._event_start_time|date("G:i") }}, Ende um {{ post._event_end_time|date("G:i") }} Uhr
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}


                    
                    {% if event.location %}
                    <address class="py-2 flex flex-row items-start not-italic">  
                        <img src="{{ site.theme.uri }}/assets/img/icons/map.svg" width="24" class="mr-3">
                        <a href="{{event.location.region}}">{{event.location.location_name}}<br>{{event.location.address}}<br>{{event.location.postcode}} {{event.location.town}}</a>
                    </address>
                    {% endif %}
                    {% if booking and bookings < 5 %}
                    <div class="py-2 flex flex-row items-center"></p>
                        <img src="{{ site.theme.uri }}/assets/img/icons/warning.svg" width="24" class="mr-3">
                        <span class="ctx-icon ctx-icon-warning text-red">Nur noch wenige Plätze frei</span>
                    </div>
                    {% endif %}
                </div>
                <div class="mt-20">
                    {% include "partials/similar-events.twig" with {'events': events} %}
                </div>
            </div>
        
    </div>
        
    </article>
{% endblock %}