{% extends "master.twig" %}

{% block content %}
{% include "partials/header.twig" with {'post': post, 'headerimage': true} %}    
    
    <article class="bg-gray-100 px-4 md:px-8 lg:px-0  py-8 ">
        <div class="max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-3 lg:my-20 md:gap-10">

            <div class="col-span-2 ">
                
                <div class="py-8 border-b-4 border-gray-400 border-dotted">{{post.post_excerpt}}</div>
                <div class="py-8 border-b-4 border-gray-400 border-dotted">{{post.post_content}}</div>
                
                {% if has_tickets %}
                    <div x-data="" class="my-10"><a @click="$dispatch('booking-modal')" class="rounded-tl-xl rounded-br-xl px-6 py-3 bg-primary {{primarycolor.brightness}} button" href="#">{{ __("Book this event", "ctx-theme") }}</a></div>  
                    {{ booking }}  
                {% endif %}
                
            </div>
            <div class="">
                <div class="bg-gray-200 p-10 rounded-tl-3xl rounded-br-3xl">
                    <div class="py-2 flex flex-row items-center">
                        <i class="text-gray-700 material-icons mr-3">face</i>
                        <span class="">{{post.get_terms('audience')|first}}</span>
                    </div> 
                    <div class="py-2  flex flex-row items-center">
                        <i class="text-gray-700 material-icons mr-3">event</i>
                        <span class="">
                            {% if post._event_start_date == post._event_end_date %}
                                {{ post._event_start_date|date("j. F Y") }} 
                            {% else %}
                                {% if post._event_start_date|date("F") == post._event_end_date|date("F") %}
                                    {{ post._event_start_date|date("j.") }} {{ __("to", "ctx-theme") }} {{ post._event_end|date("j. F Y") }}
                                {% else %}
                                    {{ post._event_start_date|date("j. F") }} {{ __("to", "ctx-theme") }} {{ post._event_end|date("j. F Y") }}
                                {% endif %}
                            {% endif %}
                        </span>
                        
                    </div>
                    {% if event.event_all_day != 1 %}
                    <div class="py-2 flex flex-row items-center">
                        <i class="text-gray-700 material-icons mr-3">schedule</i>
                        <span class="">
                            {% if post._event_start_date == post._event_end_date %}
                                {{ __("from", "ctx-theme") }} {{ post._event_start_time|date(site.option("dbem_time_format"), false) }} {{ __("to", "ctx-theme") }} {{ post._event_end_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}
                             {% else %}
                                {{ __("Starts at", "ctx-theme") }} {{ post._event_start_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}<br>{{ __("Ends at", "ctx-theme") }} {{ post._event_end_time|date(site.option("dbem_time_format"), false) }} {{ __("o'clock", "ctx-theme") }}
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}


                    
                    {% if location %}
                    <address class="py-2 flex flex-row items-start not-italic">  
                        <i class="text-gray-700 material-icons mr-3">place</i>
                        <a href="{{location.region}}">{{location.location_name}}<br>{{location.address}}<br>{{location.postcode}} {{location.town}}</a>
                    </address>
                    {% endif %}
                    {% if bookings and bookings < 5 and bookings > 0 %}
                    <div class="py-2 flex flex-row items-center"></p>
                        <i class="text-red material-icons mr-3 text-red-500">warning</i>
                        <span class="text-red-500">{{ __("Only few spaces left", "ctx-theme") }}</span>
                    </div>
                    {% endif %}
                    {% if bookings and not bookings %}
                    <div class="py-2 flex flex-row items-center"></p>
                        <i class="text-red material-icons mr-3 text-red-500">block</i>
                        <span class="text-red-500">{{ __("No places left", "ctx-theme") }}</span>
                    </div>
                    {% endif %}
                    {% if bookings and price == 0 %}
                    <div class="py-2 flex flex-row items-center"></p>
                        <i class="text-red material-icons mr-3 text-green-500">savings</i>
                        <span class="text-green-500">{{ __("Price: free", "ctx-theme")}} </span>
                    </div>
                    {% elseif bookings and price != 0 %}
                    <div class="py-2 flex flex-row items-center"></p>
                        <i class="text-red material-icons mr-3 text-gray-700">payments</i>
                        <span class="">{{ __("Price:", "ctx-theme")}} {{price}} {{currency}} </span>
                    </div>
                    {% endif %}
                  
                </div>
                <div class="mt-20">
                    <h3 class="mb-6 text-bold core-block">{{ __("Similar events", "ctx-theme")}}</h3>
                    {% include "partials/similar-events.twig" with {'events': events} %}
                </div>
            </div>
        
    </div>
        
    </article>
{% endblock %}
