{% extends "master.twig" %}

{% block content %}
    
        
{% include "partials/header.twig" with {'post': post, 'headerimage': true} %}     
   
<div x-data="{filter: ''}" class="bg-gray-100">
    <div class="bg-gray-200">
        <div class="flex flex-col md:flex-row items-center max-w-screen-xl mx-auto pt-10">
            
            <ul class="">
                <li class="inline-block">
                    <span :class="{'bg-gray-100': filter === ''}" 
                    class="px-5 cursor-pointer py-2 rounded-t inline-block" @click="filter = ''" href="#">Alle</span>
                </li>
                {% for term in terms %}
                    <li class="inline-block"><span :class="{'bg-gray-100': filter === '{{term.slug}}'}" class="ml-2 cursor-pointer px-5 py-2 inline-block rounded-t" @click="filter = '{{term.slug}}'">{{term.name}}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>


   
    


    <article class="gap-12 max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-3 py-20">        
        {% for event in events %}
            <a href="/{{slug}}/{{event.slug}}" 
                x-show="filter == '' || [{% for term in event.get_terms('event_category') %}'{{term.slug}}'{% endfor %}].includes(filter)" 
                class="card relative image-top bg-white {{ loop.first ? "rounded-tl-lg" }} {{ loop.last ? "rounded-br-lg" }} hover event {% for term in event.get_terms('event_category') %}{{term.slug}}{% endfor %}"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 transform scale-100"
                x-transition:leave-end="opacity-0 transform scale-90"
            >
                {% if event.get_terms('event_category') %}<span class="absolute top-64 -mt-4 -pl-2 px-3 py-1 bg-secondary {{secondarycolor.brightness}} rounded-tl rounded-br ml-8">{{event.get_terms('event_category')|first}}</span>{% endif %}
                <div class="overflow-hidden">
                        <img src="{{ event.thumbnail.src('medium') }}" class="{{ loop.first ? "rounded-tl-lg" }} object-cover h-80 w-full">      
                </div>
                <div class="p-10 flex flex-col flex-grow">
                    <h4 class="core-block">{{event.post_title}}</h4>
                    <div class="flex flex-row items-center">
                        
                        <span class="text-gray-500">
                            {% if event._event_start_date == event._event_end_date %}
                            {{ event._event_start_date|date("j. F Y") }} von {{ event._event_start_time|date("G:i") }} bis {{ event._event_end_time|date("G:i") }} Uhr
                            {% else %}
                            {{ event._event_start_date|date("j. F") }} bis {{ event._event_end|date("j. F Y") }}
                                
                            {% endif %}
                        </span>
                    </div>
                   
                    <p class="my-4">{{event.post_excerpt|excerpt(20)}}</p>
                    
                </div>
                   
            </a>
        {% endfor %}
    </article>

    <div class="">{{ function( 'apply_filters', 'the_content', post.content ) }}</div>

    </div>
</div>  
{% endblock %}
