{% extends "master.twig" %}

{% block content %}
    <header>
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-1-2@m">
                    <h5 class="uk-margin-remove">{{post.subtitle}}</h5>
                    <h2 class="uk-margin-remove">{{post.title}}</h2>
                    <h5 class="uk-margin-remove">{{post.post_excerpt}}</h5>
                </div>
                <div class="uk-width-1-2@m">
                    
                </div>
            </div>
            
        </div>
        
    </header>
    <article>
        <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-text-muted uk-margin-top">
                    <h5 class="uk-text-bold uk-text-muted">Verfasser</h5>
                    <div class="ctx-post-date uk-flex uk-flex-middle uk-flex-left">
                    <img src="{{ site.theme.uri }}/assets/dist/img/boy-icon.svg" width="20" class="uk-margin-right" uk-svg>
                    <span>{{author}}</span>
                    </div>
                    <h5 class="uk-text-bold uk-text-muted">Datum</h5>
                    <div class="ctx-post-date uk-flex uk-flex-middle uk-flex-left">
                        <img src="{{ site.theme.uri }}/assets/dist/img/calendar-icon.svg" width="20" class="uk-margin-right" uk-svg>
                        <span>{{ post.post_date|date("j. F Y") }}</span>
                    </div>
                </div>
                {{ function( 'apply_filters', 'the_content', post.content ) }}
                <div class="latest-news uk-hidden@m">
                    <h4>Weitere Nachrichten</h4>
                    {% include "partials/posts-latest.twig" with {'latest_posts': latest_posts} %}
                </div>
            </div>
            <div class="uk-width-1-2@m ctx-post-side uk-flex-first uk-flex-last@m">
                <div class="ctx-post-image">
                    <span>{{post.thumbnail.caption}}</span>
                    <img src="{{ post.thumbnail.src('large') }}" class="ctx-round-edges" alt="Image for {{ post.title }}" />
                </div>
                <div class="latest-news uk-visible@m">
                    <h4>Weitere Nachrichten</h4>
                    {% include "partials/posts-latest.twig" with {'latest_posts': latest_posts} %}
                </div>
            </div>
        </div>
    </div>
        
    </article>
{% endblock %}