{% extends "master.twig" %}

{% block content %}
    <header>
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-1-2@l">
                    <h5 class="uk-margin-remove">{{post.subtitle}}</h5>
                    <h2 class="uk-margin-remove">{{post.title}}</h2>
                    <h5 class="uk-margin-remove">{{post.post_excerpt}}</h5>
                </div>
                <div class="uk-width-1-2@l">
                    
                </div>
            </div>
            
        </div>
        
    </header>
    <article>
        <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@l">
                <div class="ctx-post-info">
                    <h5 class="uk-text-bold">Verfasser</h5>
                    <div class="ctx-post-date uk-flex uk-flex-middle uk-flex-left">
                    <img src="{{ site.theme.uri }}/assets/dist/img/boy-icon.svg" width="20px" class="uk-margin-right">
                    <span>{{author}}</span>
                    </div>
                    <h5 class="uk-text-bold">Datum</h5>
                    <div class="ctx-post-date uk-flex uk-flex-middle uk-flex-left">
                        <img src="{{ site.theme.uri }}/assets/dist/img/calendar-icon.svg" width="20px" class="uk-margin-right">
                        <span>{{ post.post_date|date("j. F Y") }}</span>
                    </div>
                </div>
                {{ post.post_content }}
                <div class="latest-news uk-hidden@m">
                    <h4>Aktuelle Nachrichten</h4>
                    <p>...</p>
                </div>
            </div>
            <div class="uk-width-1-2@l ctx-post-side uk-flex-first uk-flex-last@m">
                <div class="ctx-post-image">
                    <span>{{post.thumbnail.caption}}</span>
                    <img src="{{ post.thumbnail.src('medium') }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
                </div>
                <div class="latest-news uk-visible@m">
                    <h4>Aktuelle Nachrichten</h4>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
        
    </article>
{% endblock %}