<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content=""> 
        <link href="{{ site.theme.uri }}/assets/dist/app.css" rel="stylesheet">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Inria+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
        <title>{{post.title}}</title>   
    </head>

    <body>
        <nav class="navbar fixed navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="{{ site.theme.uri }}/assets/dist/img/kidsteam.svg" class="ctx-logo-image" height="70px"><span>Damit Kinder ihr Vertrauen auf Gott setzen</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "partials/menu.twig" with {'menu': menu.get_items} %}

            </div>
            </nav>
  
        {% block content %}
            Wenn Sie das lesen können, gab es ein schweres Problem mit unserer Seite.
        {% endblock %}

        <footer>
            {{footer}}
        </footer>

        <script src="{{ site.theme.uri }}/assets/dist/main.js"></script>
    </body>
</html>