<!DOCTYPE html>
<html lang="{{site.language|replace({'_':'-'})}}">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_16.png">
        {{function('wp_head')}}
        {% include "partials/stylesheet.twig" with {'config': config} %}
    </head>

    <body class="font-body antialiased pt-20 {{body_class}} {{site.language}} {{post.slug}} {{post.pagecolor}} {% for term in post.get_terms() %}{{term.slug}} {% endfor %}">
        
        {% include "partials/search.twig" with {'menu': menu} %}
        <main>
            {% include "partials/menu.twig" with {'menu': menu} %}
            
            {% block content %}
                Etwas ist gewaltig schief gelaufen... [master.twig:22]
            {% endblock %}

            {% include "partials/footer.twig" with {'site': site} %}
        </main>
        
    </body>
</html>