<!DOCTYPE html>
<html lang="{{site.language|replace({'_':'-'})}}">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{post.excerpt({read_more: false})}}">
		<meta property="og:title" content="{{post.title}}" />
		<meta property="og:site_name" content="{{site.title}}" />
		<meta property="og:url" content="{{post.link}}" />
		<meta property="og:type" content="Website" />
		<meta property="og:description" content="{{post.excerpt({read_more: false})}}" />
		<meta property="og:image" content="{{post.thumbnail.src|resize(300, 300)}}" />
		<meta property="og:image:width" content="300" />
		<meta property="og:image:height" content="300" />
        {{function('wp_head')}}
        {% include "partials/stylesheet.twig" with {'config': config} %}
    </head>

    <body class="font-body antialiased pt-20 {{body_class}} {{site.language}} {{post.slug}} {{post.pagecolor}} {% for term in post.get_terms() %}{{term.slug}} {% endfor %}">
        
        {% include "partials/search.twig" with {'menu': menu} %}
        <main>
            {% include "partials/menu.twig" with {'menu': menu} %}
            
            {% block content %}
                Etwas ist gewaltig schief gelaufen... [master.twig:22]
            {% endblock %}

            {% include "partials/footer.twig" with {'site': site} %}
        </main>
        
    </body>
</html>