<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{function('wp_head')}}
        {% include "partials/stylesheet.twig" with {'config': config} %}
    </head>

    <body class="font-body antialiased mr-4 lg:mr-10 lg:text-xl {{body_class}} {{site.language}} {{post.slug}} {{post.pagecolor}} {% for term in post.get_terms() %}{{term.slug}} {% endfor %}">
        
        {% include "partials/search.twig" with {'menu': menu} %}
        <main>
            {% include "partials/menu.twig" with {'menu': menu} %}
            
            {% block content %}
                Schweigen ist Gold.
            {% endblock %}

            {% include "partials/footer.twig" with {'site': site} %}
        </main>
    
    </body>
</html>