<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{function('wp_head')}}
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <style>
            :root {
            {% for colorset in attribute(config.theme_support, 'editor-color-palette') %}
                --{{colorset.slug}}: {{colorset.color}};
            {% endfor %}
            }
        </style>
    </head>

    <body class="{{body_class}} {% for term in post.get_terms() %}{{term.slug}} {% endfor %}">
        <div class="body">
        {% include "partials/menu.twig" with {'menu': menu} %}
        {% include "partials/menu-mobile.twig" with {'menu': menu.get_items} %}
        {% block content %}
            Wenn Sie das lesen können, gab es ein schweres Problem mit unserer Seite.
        {% endblock %}

        <footer class="uk-section uk-section-black uk-light">
            <div class="uk-container">{{footer}}</div>
            {{function('wp_footer')}}
        </footer>
    </div>
    </body>
</html>