<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{site.theme.uri}}/assets/dist/style.css?ver=34885" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.uri}}/assets/img/favicon/favicon_{{site.language}}_16.png">
        {{function('wp_head')}}
        {% include "partials/stylesheet.twig" with {'config': config} %}
    </head>

    <body class="font-body antialiased mr-4 pt-20 lg:mr-10 lg:text-lg {{body_class}} {{site.language}} {{post.slug}} {{post.pagecolor}} {% for term in post.get_terms() %}{{term.slug}} {% endfor %}">
        
        {% include "partials/search.twig" with {'menu': menu} %}
        <main>
            {% include "partials/menu.twig" with {'menu': menu} %}
            
            {% block content %}
                Schweigen ist Gold.
            {% endblock %}

            {% include "partials/footer.twig" with {'site': site} %}
            {% include "partials/lightbox.twig" %}
        </main>
    
    </body>
</html>